//! **************************************************************************
// Written by: Map P.20131013 on Sun Mar 01 17:10:11 2020
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "vga_h_sync" LOCATE = SITE "P93" LEVEL 1;
COMP "vga_v_sync" LOCATE = SITE "P92" LEVEL 1;
COMP "clock" LOCATE = SITE "P129" LEVEL 1;
COMP "player_input<0>" LOCATE = SITE "P80" LEVEL 1;
COMP "player_input<1>" LOCATE = SITE "P75" LEVEL 1;
COMP "player_input<2>" LOCATE = SITE "P79" LEVEL 1;
COMP "player_input<3>" LOCATE = SITE "P76" LEVEL 1;
COMP "vga_B<0>" LOCATE = SITE "P96" LEVEL 1;
COMP "vga_B<1>" LOCATE = SITE "P98" LEVEL 1;
COMP "vga_G<0>" LOCATE = SITE "P99" LEVEL 1;
COMP "vga_G<1>" LOCATE = SITE "P101" LEVEL 1;
COMP "vga_G<2>" LOCATE = SITE "P102" LEVEL 1;
COMP "vga_R<0>" LOCATE = SITE "P103" LEVEL 1;
COMP "vga_R<1>" LOCATE = SITE "P104" LEVEL 1;
COMP "vga_R<2>" LOCATE = SITE "P105" LEVEL 1;
COMP "AUDIO_L" LOCATE = SITE "P88" LEVEL 1;
NET "instance_name/CLKIN_IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

